@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
	height: 100vh;
	width: 100vw;
	font-family: "Inter";
}

.noSelect,
img {
	-webkit-user-drag: none;
	user-select: none;
}
input::placeholder {
	font-weight: 600;
	color: #808080;
}

.size {
	height: 75vh;
	width: 700px;
}
